body {
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: #2D4356;
    color: white;
    font-weight: 900;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    height: 90px;
}

.main {
    font-weight: 600;
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: #F1C376;
}

.sidebar {
    background-color: #435B66;
    color: #F7E6C4;
    box-sizing: border-box;
    flex-shrink: 0;

    padding: 16px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.profilePictures {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0px;
}

.sidebar a:visited, a:link {
    text-decoration: none;
    color: #F7E6C4;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar .userName {
    font-size: 25px;
}

.sidebar .balanced {
    font-size: 20px;
}

.sidebar .themeSelector {
    font-size: 20px;
}

.sidebar .Menu{
    display: flex;
    flex-direction: column;
    font-size: 22px;
    gap: 12px;
}

.separate {
    background-color: white;
    width: 250px;
    height: 2px;
    color: yellow;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.content ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex: 1;
    flex-wrap: wrap;
}

.content li{
    background-color: wheat;
    border-radius: 10%;
    padding: 20px;
    width: 300px;
    max-height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap : 8px;
}

.content li a:visited, a:link {
    text-decoration: none;
    color: black;
}

.content li .mvTitle {
    font-size: 24px;
}

.mvContent {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

.mvPrice {
    font-size: 20px;
}

.mvImage {
    border-radius: 5%;
    width: 270px;
}

.content li .mvDesc {
    font-size: 18px;
    font-weight: 500;
}

.nowShowing {
    margin: 0px;
    padding: 30px;
    font-size: 35px;
}

.footer {
    background-color: #F7E6C4;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
}